<ion-content>
    <ion-text color="primary">
        <h1>Mes livres</h1>
    </ion-text>
    <ion-slides [options]="slideOpts">
        <ion-slide>

            <ion-grid fixed>
                <ion-row class="ion-justify-content-center">
                    <img class="img_book" alt="test">
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <p>Title Book</p>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>