<ion-header>
    <ion-toolbar>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p>Cherchez votre livre ou ajouter vous même</p>
    <ion-searchbar #search type="text"></ion-searchbar>

    <ion-button (click)="getApibooks(search.value)" color="primary" expand="block" fill="solid">Valider</ion-button>

    <ion-list>
        <ion-item (click)="seletedBook(book)" *ngFor="let book of booksList | async">
            <ion-thumbnail slot="start">
                <img
                    [src]="book.volumeInfo.imageLinks?.smallThumbnail ? book.volumeInfo.imageLinks?.smallThumbnail : '../../../assets/book-cover-placeholder.jpg'">
            </ion-thumbnail>
            <ion-label [routerLink]="['/pages/book-detail']">
                <ion-text>
                    <h2><strong>{{ book.volumeInfo.title }}</strong> </h2>
                </ion-text>
                <ion-text>
                    <h5>{{ book.volumeInfo.authors }}</h5>
                </ion-text>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-button (click)="toggleBookForm()" color="primary" expand="block">Enregister moi même</ion-button>

    <div *ngIf="toggleForm">
        <ion-text color="primary">
            <h4>Ajouter livre</h4>
        </ion-text>
        <ion-item>
            <ion-label position="stacked">Titre</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Couverture</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Offre</ion-label>
            <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Categorie</ion-label>
            <ion-select value="brown" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="brown">Brown</ion-select-option>
                <ion-select-option value="blonde">Blonde</ion-select-option>
                <ion-select-option value="black">Black</ion-select-option>
                <ion-select-option value="red">Red</ion-select-option>
            </ion-select>
        </ion-item>
    </div>
</ion-content>