<ion-header>
    <ion-toolbar>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <p>Cherchez votre livre ou ajouter vous même</p>
    <ion-searchbar (ionClear)="getEvent($event)" #search type="text"></ion-searchbar>

    <ion-button (click)="getApibooks(search.value)" color="primary" expand="block" fill="solid">Valider</ion-button>

    <ion-list>
        <ion-item (click)="seletedBook(book)" *ngFor="let book of booksList">
            <ion-thumbnail slot="start">
                <img
                    [src]="book.volumeInfo.imageLinks?.smallThumbnail ? book.volumeInfo.imageLinks?.smallThumbnail : '../../../assets/book-cover-placeholder.jpg'">
            </ion-thumbnail>
            <ion-label [routerLink]="['/pages/book-detail']">
                <ion-text>
                    <h2><strong>{{ book.volumeInfo.title }}</strong> </h2>
                </ion-text>
                <ion-text>
                    <h5>{{ book.volumeInfo.authors }}</h5>
                </ion-text>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-button (click)="toggleBookForm()" color="primary" expand="block">Enregister moi même</ion-button>

    <div *ngIf="toggleForm">
        <ion-grid fixed>
            <ion-row>
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="formSubmit">
                    <ion-col size="12">
                        <ion-text color="primary">
                            <h4>Ajouter livre</h4>
                        </ion-text>
                    </ion-col>

                    <ion-col size="12">
                        <ion-item>
                            <ion-button (click)="takePhoto()" expand="block">
                                Photo
                            </ion-button>
                        </ion-item>
                    </ion-col>

                    <ion-col size="12">
                        <ion-item>
                            <ion-label position="stacked">Titre</ion-label>
                            <ion-input formControlName="title"></ion-input>
                        </ion-item>
                    </ion-col>

                    <ion-col size="12">
                        <ion-item>
                            <ion-label position="stacked">Author</ion-label>
                            <ion-input formControlName="authors"></ion-input>
                        </ion-item>
                    </ion-col>

                    <ion-col size="12">
                        <ion-item>
                            <ion-label position="stacked">Editeur</ion-label>
                            <ion-input formControlName="publisher"></ion-input>
                        </ion-item>
                    </ion-col>

                    <ion-col size="12">
                        <ion-item>
                            <ion-label position="stacked">Offre</ion-label>
                            <ion-input formControlName="offer"></ion-input>
                        </ion-item>
                    </ion-col>

                    <ion-col size="12">
                        <ion-item>
                            <ion-label>Categories</ion-label>
                            <ion-select formControlName="categoryId" okText="Ok" cancelText="Cancel">
                                <ion-select-option *ngFor="let category of categoriesList" [value]="category.name">
                                    {{ category.name }}
                                </ion-select-option>

                            </ion-select>
                        </ion-item>
                    </ion-col>

                    <ion-col size="12">
                        <ion-button expand="block" type="submit" class="btn">
                            Valider
                        </ion-button>
                    </ion-col>
                </form>
            </ion-row>
        </ion-grid>
    </div>

    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <app-user-books></app-user-books>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>