<ion-content class="ion-no-padding">
    <div class="block">
        <ion-text color="primary">
            <h4>{{ selectCategory?.name ? selectCategory?.name : defaultCategory?.name }}</h4>
        </ion-text>
        <ion-slides [options]="slideOpts">
            <ion-slide *ngFor="let i of [1,2,3,4,5]">
                <div>
                    <img class="img_book"
                        src="http://books.google.com/books/content?id=4pOQAwAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api"
                        alt="test">
                </div>
            </ion-slide>
        </ion-slides>
    </div>


</ion-content>