<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Author</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="block">
        <ion-grid fixed>
            <ion-row class="ion-justify-content-center">
                <ion-text color="primary">
                    <h1>{{ author.author }}</h1>
                </ion-text>
            </ion-row>
        </ion-grid>

        <ion-slides [options]="slideOpts">
            <ion-slide *ngFor="let book of (authorBooks | async)">
                <ion-grid fixed>
                    <ion-row class="ion-justify-content-center">
                        <img class="img_book" [src]="book.image" alt="test">
                    </ion-row>
                    <ion-row class="ion-justify-content-center">
                        <p>{{ book.title.substr(0, 25) }}</p>
                    </ion-row>
                </ion-grid>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>