<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ theBook.title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-img [src]="theBook.image"></ion-img>
            <ion-grid>
                <ion-row class="ion-justify-content-center">
                    <ion-card-title>{{ theBook.title }}</ion-card-title>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-card-subtitle>{{ theBook.authors }}</ion-card-subtitle>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-text>
                        Éditeur:
                    </ion-text>
                    {{ theBook.publisher }}
                </ion-row>
            </ion-grid>
        </ion-card-header>
    </ion-card>


    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-text>
                <p class="info_text">Ajouter livre</p>
            </ion-text>
        </ion-row>
    </ion-grid>

    <ion-segment color="academicus-green" (ionChange)="segmentChanged($event)" value="offer">
        <ion-segment-button value="offer">
            <ion-label>J'offre</ion-label>
        </ion-segment-button>
        <ion-segment-button value="request">
            <ion-label>Je recherche</ion-label>
        </ion-segment-button>
    </ion-segment>

    <ion-grid fixed>
        <form [formGroup]="form" (ngSubmit)="registerBook$()">
            <ion-row>
                <ion-col>
                    <ion-list>
                        <ion-item>
                            <ion-label>Categories</ion-label>
                            <ion-select (ionChange)="getSubcategory($event)" formControlName="category" okText="Okay"
                                cancelText="Dismiss" required>
                                <ion-select-option *ngFor="let category of (categoryList$ | async)"
                                    [value]="category.name">
                                    {{ category.name }}
                                </ion-select-option>
                            </ion-select>

                        </ion-item>
                        <ion-item>
                            <ion-label>Sub categories</ion-label>
                            <ion-select (ionChange)="selectSubCategory($event)" [disabled]="isSubCategory" okText="Okay"
                                cancelText="Dismiss">
                                <ion-select-option *ngFor="let category of (subCategory$ | async ); let i=index"
                                    [value]="category.id">
                                    {{ category.name }}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-textarea formControlName="offer" #offer placeholder="Offre" required></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button color="academicus-green" type="submit" expand="full">Enregister</ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>

</ion-content>