<ion-header>
    <ion-toolbar>
        <ion-title>{{ theBook.title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-img [src]="theBook.image"></ion-img>
            <ion-grid>
                <ion-row class="ion-justify-content-center">
                    <ion-card-title>{{ theBook.title }}</ion-card-title>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-card-subtitle>{{ theBook.authors }}</ion-card-subtitle>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <ion-text>
                        Éditeur:
                    </ion-text>
                    {{ theBook.publisher }}
                </ion-row>
            </ion-grid>
        </ion-card-header>
    </ion-card>


    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-text>
                <p class="info_text">Sélectionnez une categories et faite votre offre pour ce livre</p>
            </ion-text>
        </ion-row>
    </ion-grid>

    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item>
                        <ion-label>Categories</ion-label>
                        <ion-select (ionChange)="selectCategory($event)" okText="Okay" cancelText="Dismiss" required>
                            <ion-select-option *ngFor="let category of (categoryList$ | async); let i=index"
                                [value]="category.name">
                                {{ category.name }}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-textarea #offer placeholder="Offre" required></ion-textarea>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="registerBook(offer.value)" expand="full">Enregister</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>