.container_page {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* .alert_error .alert-wrapper {
  background: #e5e5e5;
} */

ion-input.alert_error {
  border: 1px solid red;
  border-radius: 4px;
}
