<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Éditer / Supprimer</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-img class="image" [src]="selectedBook$?.image">
            </ion-img>
            <ion-grid>
                <ion-row class="ion-justify-content-center">
                    <ion-card-title>
                        {{ selectedBook$?.title }}
                    </ion-card-title>
                </ion-row>

                <ion-row class="ion-justify-content-center">
                    <ion-card-subtitle>{{ selectedBook$?.authors }}</ion-card-subtitle>
                </ion-row>

                <ion-row class="ion-justify-content-center">
                    <ion-text>
                        Éditeur:
                    </ion-text>
                    {{ selectedBook$?.publisher }}
                </ion-row>
            </ion-grid>
        </ion-card-header>
    </ion-card>
    <ion-list>
        <ng-content *ngIf="interests"></ng-content>
        <ion-item *ngFor="let interest of interests">
            <ion-label>Offre</ion-label>
            <ion-label>{{ interest?.offer }}</ion-label>

            <ion-label>{{ interest?.contact }}</ion-label>
            <ion-icon (click)="deleteInterest(interest?.id, selectedBook$?.id)" name="trash-outline"></ion-icon>
        </ion-item>
    </ion-list>

    <ion-card>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <ion-card-content>
                <ion-item>
                    <ion-button (click)="takePhoto()" expand="block">
                        Photo
                    </ion-button>
                </ion-item>
            </ion-card-content>

            <ion-card-content>
                <ion-item>
                    <ion-label position="stacked">Titre</ion-label>
                    <ion-input formControlName="title" value="title"></ion-input>
                </ion-item>
            </ion-card-content>

            <ion-card-content>
                <ion-item>
                    <ion-label position="stacked">Author</ion-label>
                    <ion-input formControlName="authors"></ion-input>
                </ion-item>
            </ion-card-content>

            <ion-card-content>
                <ion-item>
                    <ion-label position="stacked">Edition</ion-label>
                    <ion-input formControlName="publisher"></ion-input>
                </ion-item>
            </ion-card-content>

            <ion-card-content>
                <ion-item>
                    <ion-label position="stacked">offre</ion-label>
                    <ion-input formControlName="offer"></ion-input>
                </ion-item>
            </ion-card-content>

            <ion-card-content>
                <ion-item>
                    <ion-label>Categories</ion-label>
                    <ion-select (ionChange)="getSubcategory($event)" [placeholder]="selectedBook$?.categoryId"
                        formControlName="category" [value]="selectedBook$?.categoryId" okText="Ok" cancelText="Cancel">
                        <ion-select-option *ngFor="let category of categories" [value]="category.name">
                            {{ category.name }}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Sub-categories</ion-label>
                    <ion-select (ionChange)="selectSubCategory($event)" [disabled]="isSubCategory" okText="Okay"
                        cancelText="Dismiss">
                        <ion-select-option *ngFor="let subCat of (subCategory$ | async)">
                            {{ subCat.name }}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-card-content>

            <ion-button color="academicus-green" type="submit" expand="block">
                Valider
            </ion-button>

        </form>

        <ion-button (click)="deleteBook(selectedBook$?.id)" color="danger" expand="block">
            Supprimer livre
        </ion-button>
    </ion-card>

</ion-content>