ion-content {
  padding: 20px;
}

ion-button {
  margin-right: 8px;
  margin-bottom: 5px;
}
ion-button:active {
  background: red;
}

.block {
  margin: 10px;
}

.block_list {
  margin: 10px;
  margin-top: 30px;
}

.img_book {
  height: 130px;
}

p {
  font-size: 13px;
}
