<ion-content>

    <div class="block">
        <ion-text color="primary">
            <h1>Categories</h1>
        </ion-text>

        <ion-segment [value]="defaultCategory" scrollable>
            <ion-segment-button (click)="selectCategory(cat)" [value]="cat.id"
                *ngFor="let cat of (categoryList$ | async); let i = index">
                <ion-icon name="{{ cat.icon }}"></ion-icon>
                <ion-label>{{ cat.name }}</ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>

    <div class="block_list">
        <ion-text color="primary">
            <h4>{{ categorySelected?.name ? categorySelected?.name : defaultCategory?.name }}</h4>
        </ion-text>
        <ion-slides [options]="slideOpts">
            <ion-slide *ngFor="let i of [1,2,3,4,5]">
                <div>
                    <img class="img_book"
                        src="http://books.google.com/books/content?id=4pOQAwAAQBAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api"
                        alt="test">
                </div>
            </ion-slide>
        </ion-slides>
    </div>

    <!--  <app-scroll-list [selectCategory]="categorySelected" [defaultCategory]="defaultCategory"></app-scroll-list> -->

</ion-content>