<ion-content>

    <div class="block">
        <ion-text color="academicus-green">
            <h1>Categories</h1>
        </ion-text>

        <ion-segment color="academicus-green" [value]="defaultCategory" scrollable>
            <ion-segment-button (click)="selectCategory(cat)" [value]="cat.name"
                *ngFor="let cat of (categoryList$ | async); let i = index">
                <ion-icon name="{{ cat.icon }}"></ion-icon>
                <ion-label>{{ cat.name }}</ion-label>
            </ion-segment-button>
        </ion-segment>

        <!-- /////////////////////////////////////////////////////////////////////// -->
        <!-- <ion-segment color="academicus-green" [value]="_defaultCategory" scrollable>
            <ion-segment-button (click)="_selectCategory(cat.id)" [value]="cat.id"
                *ngFor="let cat of (categoriesList$ | async); let i = index">
                <ion-icon name="{{ cat.icon }}"></ion-icon>
                <ion-label>{{ cat.name }}</ion-label>
            </ion-segment-button>
        </ion-segment> -->
        <!-- /////////////////////////////////////////////////////////////////////// -->

    </div>

    <div class="block_list">
        <ion-text color="academicus-green">
            <h4>{{ categorySelected?.name ? categorySelected?.name : defaultCategory?.name }}</h4>
        </ion-text>

        <ion-slides [options]="slideOpts">
            <ion-slide *ngFor="let book of (booksPerCategory$ | async)">

                <ion-grid fixed (click)="findedBook(book.id)">
                    <ion-row class="ion-justify-content-center">
                        <img class="img_book" [src]="book.image" alt="test">
                    </ion-row>
                    <ion-row class="ion-justify-content-center">
                        <p>{{ book.title.substr(0, 25) }}</p>
                    </ion-row>
                </ion-grid>
            </ion-slide>
        </ion-slides>
        <ion-segment *ngIf="(subCategories$ | async)" mode="md" color="academicus-green" scrollable>
            <ion-segment-button (click)="selectSubcategory(subCat.id)" [value]="subCat.id"
                *ngFor="let subCat of (subCategories$ | async); let i = index">

                <ion-label>{{ subCat.name }}</ion-label>
            </ion-segment-button>

        </ion-segment>
        <ion-slides *ngIf="isSubCategory > 0" [options]="slideOpts">
            <ion-slide *ngFor="let book of selectedSubCategory$">

                <ion-grid fixed (click)="findedBook(book.id)">
                    <ion-row class="ion-justify-content-center">
                        <img class="img_book" [src]="book.image" alt="book">
                    </ion-row>
                    <ion-row class="ion-justify-content-center">
                        <p>{{ book.title.substr(0, 25) }}</p>
                    </ion-row>
                </ion-grid>
            </ion-slide>
        </ion-slides>
    </div>

    <app-researched-book></app-researched-book>

</ion-content>