:host {
  background: aliceblue;
}

.container_page {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

ion-content {
  --background: transparent;
}

ion-input {
  border: 1px solid;
  border-radius: 6px;
}
