<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button color="primary" expand="block" fill="solid">Login</ion-button>
        </ion-buttons>
        <ion-title>Academicus</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar (ionInput)="searchBooks($event)" type="text"></ion-searchbar>

    <ion-list [hidden]="listBooks.length <= 0">
        <ion-item *ngFor="let item of listBooks">
            {{ item.title }}
        </ion-item>
    </ion-list>

    <app-scroll-list></app-scroll-list>
</ion-content>