<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button [routerLink]="['../login']" routerLinkActive="router-link-active" color="primary" expand="block"
                fill="solid">Login</ion-button>
            <ion-button (click)="signOut()" shape="round">
                SignOut
            </ion-button>
        </ion-buttons>

        <ion-title>Academicus</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-segment (ionChange)="segmentChanged($event)" value="titre" #topButton>
                <ion-segment-button value="titre">
                    <ion-label>Titre</ion-label>
                </ion-segment-button>
                <ion-segment-button value="authors">
                    <ion-label>Author</ion-label>
                </ion-segment-button>
            </ion-segment>
        </ion-row>

        <ion-row>
            <ion-searchbar (ionInput)="searchBooks($event)" type="text" placeholder="{{topButton.value}}">
            </ion-searchbar>

            <ion-list [hidden]="listItems.length <= 0">
                <ion-item (click)="selectedItem(item)" *ngFor="let item of listItems">
                    {{ seachFomat === "titre" ? item.title.substr(0, 25) : item.substr(0, 25) }}
                </ion-item>
            </ion-list>
        </ion-row>
    </ion-grid>

    <app-categories></app-categories>

</ion-content>