<ion-content>

    <div class="block_list">
        <ion-text>
            <h1>Recherchés</h1>
        </ion-text>

        <ion-slides [options]="slideOpts">
            <ion-slide *ngFor="let book of _researchedBooks$" (click)="selecteBook(book.id)">
                <ion-grid fixed>
                    <ion-row class="ion-justify-content-center">
                        <img class="img_book" [src]="book.image" alt="test">
                    </ion-row>
                    <ion-row class="ion-justify-content-center ion-margin-top">
                        <ion-label>{{ book.title.substr(0, 25) }}</ion-label>
                        <ion-icon *ngIf="book.interests > 0" size="large" name="alert-circle-sharp" color="warning">
                        </ion-icon>
                    </ion-row>
                </ion-grid>
            </ion-slide>
        </ion-slides>

    </div>
</ion-content>